@use "./color.scss";

.bg {
  color: $WHITE;
  background-color: $BLACK;

  &:hover {
    color: $GREEN;
  }

  &::after {
    color: $YELLOW;
  }

  &.color,
  &[id="text"] {
    color: $BLUE;
  }
}

.latte {
  .cappuccino & {
    font: {
      size: 11px;
      weight: 700;
    }
  }
}

.give-me-a {
  &-espresso {
    color: $RED;
  }

  .please &-americano {
    color: $ORANGE;
  }
}
